body {
	  font-family: "Baskerville", serif;
    font-size: 18px;
    line-height: 150%;
    background-color: #f5f1ef;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.flexcontainer-responsive {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (max-width: 800px) {
  .flexcontainer-responsive {
    flex-direction: column;
  }
}

.flexleft {
  flex: 50%;
}

.flexright {
  flex: 26%;
}

.flexedge {
  flex: 12%
}

